.ss-btn{
	padding: 8px 12px;
	background: #888;
	color: #fff;
	border-radius: 3px;
	margin: 4px;
	display: inline-block;
	transition: 0.2s ease transform;
}

.ss-btn:hover{
	text-decoration: none;
	color: #fff;
	transform: scale(1.1);
}